# Ignore build and IDE folders
bin/
obj/

# Ignore generated and temporary files
document.odt
*__.odt

# Allow only these file extensions in the repo:
!*.cs
!*.json
!*.md
!*.gitignore
!*.sln
!*.csproj
!*.png

# Ignore everything else by default (optional strict mode)
*